<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
  <body>
<div class="container">
<h1>
Please select a host to configure
</h1>
{% for groupname, hostlist in hosts.iteritems() %}
    <div class="row">
        <div class="col-md-1">
        <span class="label label-warning" >{{ groupname }}</span>
        </div>
        {% for host in hostlist %}
        <div class="col-md-2">
        <a href="/host/{{host.displayname}}" class="btn btn-primary btn-block">{{ host.displayname | safe }}</a>
        </div>
        {% endfor %}
    </div>
    <br>
{% endfor %}
</div>
  </body>
</html>
