<html>
{% include "header.html" %}
<form class="form-horizontal" action="login" method="post">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Username</label>
  <div class="controls">
    <input id="textinput" name="username" type="text" placeholder="username" class="input-xlarge">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordinput">Password</label>
  <div class="controls">
    <input id="passwordinput" name="password" type="password" placeholder="password" class="input-xlarge">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for=""></label>
  <div class="controls">
    <button id="" name="" class="btn btn-primary" type=submit>Login</button>
  </div>
</div>

</fieldset>
</form>

{% include "statics.html" %}
</html>
