<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

  <body>
    {% if error %}
    <h1>
    Error: {{error}}
    </h1>
    {% else %}
    <h1>
    Configuration for {{host}} saved
    </h1>
    {% endif %}
    <a href="/host/{{host}}" class="btn btn-primary">Back</a>
    <script>
    setTimeout(function() {
            window.location.href = "/host/{{host}}";
                }, 1000);
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
